html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box; }

footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  text-decoration: none; }

@font-face {
  font-family: "UTM-Avo";
  src: url("fonts/UTM Avo.ttf") format("ttf");
  src: url("fonts/UTM Avo.ttf") format("truetype"); }

@font-face {
  font-family: "UTM-AvoBold";
  src: url("fonts/UTM AvoBold.ttf") format("ttf");
  src: url("fonts/UTM AvoBold.ttf") format("truetype"); }

.img-fluid {
  width: 100%;
  height: 100%; }

.page-nav {
  width: 65%;
  height: 100%; }

.page-form {
  width: 100%;
  height: 362px;
  background-color: #d9e4e9;
  margin-top: 42px; }

.form-control {
  width: 255px;
  height: 38px;
  margin-bottom: 15px;
  padding-left: 12px;
  outline: none;
  border: none; }

.form-send {
  width: 126px;
  height: 46px;
  display: flex;
  margin-left: 65px;
  background-color: #4bbc56;
  justify-content: center;
  align-items: center; }

.company-name-top {
  font-family: UTM-AvoBold;
  font-size: 20px; }

.company-name-bot {
  font-family: UTM-Avo;
  font-size: 16px; }

.contact-text::before {
  content: url(image/phone.png);
  margin-right: 9px;
  vertical-align: middle; }

.facebook::before {
  content: url(image/fb-km.png); }

.google::before {
  content: url(image/fb-km.png); }

.youtube::before, .google::before, .facebook::before {
  content: url(image/youtube-km.png); }

.breadcrumb-item:first-child::after {
  content: "/";
  margin: 12px; }

.breadcrumb-item::after {
  content: ""; }

.accordion-header::after, .accordion-footer::after {
  content: "+";
  position: absolute;
  top: 30%;
  left: 90%; }

.form-header-text::after {
  content: "";
  position: relative;
  top: 20px;
  display: block;
  width: 67px;
  border-bottom: 2px solid #62c6f8; }

.cross {
  position: absolute;
  width: 15px;
  height: 15px;
  background-color: #62c6f8;
  right: 0;
  bottom: 0;
  color: #ffffff; }

.accordion-header {
  position: relative;
  width: 100%;
  height: 50px;
  background-color: #d9e4e9;
  padding-left: 19px; }
  .accordion-header .accordion-header-title {
    position: absolute;
    margin: 0;
    top: 50%;
    padding-left: 20px;
    transform: translate(0, -50%);
    font-family: UTM-Avo;
    font-size: 12px; }

.content-item-body-text {
  font-size: 13px;
  padding: 0 0 0 22px; }

.content-item-body-title {
  font-size: 16px;
  padding: 25px 0 17px 22px; }

.send {
  font-family: UTM-AvoBold;
  font-size: 14px; }

.form-header-text {
  font-family: UTM-AvoBold;
  font-size: 18px; }

.about-us-text, .social-connect-text, .support-text {
  padding-left: 18px;
  list-style: inside; }

.footer-top-wrapper {
  padding: 40px 0; }

.container {
  width: 100%;
  max-width: 1240px;
  margin: 0 auto; }

.row {
  width: 100%;
  display: flex;
  flex-wrap: wrap; }

.col {
  width: calc(100% / 3); }

.text-secondary {
  color: #8e8e8e; }

.text-primary {
  color: #5dc5fc; }

.text-black {
  color: #0d1d25; }

.text-white {
  color: #ffffff; }

.bold {
  font-weight: bold; }

.text-decoration-none {
  text-decoration: none; }

.list-style-none {
  list-style: none; }

.text-right {
  text-align: right; }

.align-center {
  align-items: center; }

.text-uppercase {
  text-transform: uppercase; }

.border {
  border: 1px solid #e9e9e9; }

.border-bottom {
  border-bottom: 1px solid #e9e9e9; }

.d-flex {
  display: flex; }

.flex-wrap {
  flex-wrap: wrap; }

.logo {
  width: 65%; }

.contact {
  width: 35%;
  font-family: Arial, Helvetica, sans-serif; }

.header-top-wapper {
  height: 95px; }

.contact-text {
  font-size: 14px; }

.contact-phone {
  font-size: 18px;
  margin-left: 9px; }

.logo-img {
  margin-right: 18px; }

.icon-social {
  width: 35%; }

.header-bottom-wrapper {
  height: 60px; }

.nav-wrapper {
  height: 100%; }
  .nav-wrapper .nav-item {
    display: flex;
    align-items: center;
    margin: auto;
    height: 100%;
    border-left: 1px solid #e9e9e9; }
    .nav-wrapper .nav-item .nav-link {
      font-size: 12px;
      margin-left: 20px;
      color: #8e8e8e;
      text-transform: uppercase;
      text-decoration: none; }

.nav-item:first-child {
  border: none; }

.breadcrumb-item-space {
  font-size: 12px;
  font-family: UTM-Avo;
  color: #0d1d25;
  text-transform: uppercase;
  text-decoration: none; }

.page-banner {
  position: relative; }

.breadcrumb {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%); }

.main-content {
  margin-top: 75px; }

.accordion-lists {
  margin: 22px 0;
  padding-left: 40px; }
  .accordion-lists .accordion-list-item {
    color: #0d1d25;
    margin-top: 12px;
    list-style: inside; }
    .accordion-lists .accordion-list-item .accordion-list-link {
      font-family: UTM-Avo;
      font-size: 12px;
      color: #0d1d25;
      text-decoration: none; }

.page-sibebar {
  width: 25%; }

.accordion {
  height: 397px; }

.content {
  width: 75%; }
  .content .content-item {
    height: 348px;
    padding: 0 0 22px 20px; }

.content-item-border {
  position: relative;
  height: 100%; }

.form-header {
  padding: 27px 0 41px 22px; }

.main-form {
  padding-left: 20px; }

.form-control::placeholder {
  color: #0d1d25;
  font-size: 13px; }

.page-footer {
  margin-top: 40px;
  background-color: #62c6f8; }

.footer-title {
  font-family: UTM-AvoBold;
  font-size: 18px;
  color: #ffffff; }

.youtube::before, .google::before, .facebook::before {
  position: relative;
  top: 8px;
  margin-right: 8px; }

.footer-bottom {
  height: 56px; }

.copyright-text {
  font-size: 12px; }

.footer-list-item {
  color: #ffffff;
  margin: 21px 0; }
  .footer-list-item .footer-list-link {
    font-size: 12px;
    color: #ffffff;
    text-transform: uppercase; }

.social-item {
  list-style: none;
  margin: 10px 0; }
