* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

.container {
  width: 100%;
  max-width: 1240px;
  margin: 0 auto;
}

.img-fluid {
  width: 100%;
  height: 100%;
}

.d-flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.page-header {
  width: 100%;
  height: 100px;
}

.logo {
  width: 9%;
  height: 100%;
}

.menu {
  width: 80%;
}

.text-upscase {
  text-transform: uppercase;
}

.align-item-center {
  align-items: center;
}

.text-center {
  text-align: center;
}

.bold {
  font-weight: bold;
}

.nav {
  list-style: none;
  justify-content: flex-end;
}

.nav-link {
  color: black;
  text-transform: uppercase;
  text-decoration: none; 
  font-size: 20px;
}

.nav-item {
  margin: 10px;
}

header {
  border-bottom: solid 1px black;
}

.page-main {
  width: 100%;
  min-height: 500px;
}

.news-text {
  margin-top: 20px;
}

.share-icon {
  font-size: 20px;
}

.main-comment {
  min-height: 30px;
  margin-top: 25px;
  margin-bottom: 25px;
}

.input-value {
  width: 70%;
  height: 70px;
  padding-left: 10px;
  border: 1px solid #ced4da;
  border-radius: 10px;
  margin-bottom: 30px;
  outline: none;
}

.input-value:focus {
  border-color: #11a8dd;
  box-shadow: 0 0 8px 0 #11a8dd;
}

.btn-add {
  width: 80px;
  height: 40px;
  font-size: 20px;
  background-color: white;
  color: #11a8dd;
  border: 2px solid #11a8dd;
  border-radius: 5px;
  margin-left: 10px;
  margin-top: 20px;
  outline: none;
}

.fab {
  color: #11a8dd;
}

.btn-add:hover {
  background-color: #11a8dd;
  color: white;
}

.comment-result {
  display: flex;
  margin-top: 15px;
  align-items: center;
}

.btn-delete {
  width: 70px;
  height: 40px;
  color: red;
  background-color: white;
  border: 2px solid red;
  padding: 5px 5px;
  font-size: 20px;
  line-height: 1.5;
  border-radius: 5px;
  outline: none;
}

button.btn-delete:hover {
  background-color: red;
  color: white;
}

.img-comment {
  width: 80px;
  height: 55px;
}

.comment-result-title {
  width: 10%;
}

.comment-result-content {
  display: flex;
  width: 90%;
  align-items: center;
}

.comment-text {
  width: 60%;
}

.content {
  margin-top: 30px;
  margin-bottom: 30px;
}

.share-social {
  margin-top: 20px;
}

.title {
  color: #11a8dd;
  font-size: 35px;
}

.page-footer {
  margin-top: 20px;
}

main {
  border-bottom: solid 1px black;
}

.img-input {
  width: 6%;
  margin-top: 10px;
}

.main-comment {
  padding-left: 65px;
}

.comment-title-text {
  font-size: 25px;
  color: #11a8dd;
  padding-left: 50px;
}

.comment-icon {
  width: 2%;
  margin-left: 7px;
}
